{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <h2>Hi</h2> {{ app.user.username }}
        </div>

        <div>
            <form action="/user/say-hello" method="post">
                <button>Say Hello</button>
            </form>
        </div>
    </div>
</div>
{% endblock body %}
